.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 20;
    height: 65px;
    color: #fff;
}


.header__wrap {
    display: flex;
    align-items: center;
    margin: auto 0;
    height: 100%;
}

.header__right {
    margin-left: auto;
    font-size: 11px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 100%;

    a {
        transition: color .2s ease-in-out;

        &:hover {
            color: #62B25E;
        }

        &.active {
            color: #62B25E;
        }
    }
}

.menu__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all .2s ease-in-out;

    &:hover {
        opacity: 60%;
    }
}

@media screen and (max-width: 1200px) {
    .header {
        height: 54px;
    }



}