.contacts {}

.contacts__img {
    margin-top: 64px;
}

.contacts__list {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    .item {
        display: flex;
        align-items: center;
        line-height: 120%;
        gap: 16px;
    }
}