.gallery-swiper-slide {
  background: #000;
  width: 145px;
  height: 145px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.gallery {
  .left {
    position: relative;
  }
}

// .gallery-swiper-thumb {
//   visibility: hidden;

//   &.active {
//     visibility: visible;
//   }
// }

.gallery-swiper-thumb {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.gallery-swiper-prev,
.gallery-swiper-next {
  max-width: 47px;
  position: static;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 0;

  svg {
    display: block;
    padding: 20px 0;
    width: 8px;
  }

  &::after {
    display: none;
  }
}

.gallery-swiper-prev {
  justify-content: start;
}

.gallery-swiper-next {
  justify-content: end;
}

.gallery-swiper-wrap {
  margin-top: auto;
  display: flex;
  align-items: center;
}


.gallery-swiper-thumb {
  height: 100%;

  .swiper-slide {
    height: 100%;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

.gallery {
  .tabs {
    height: 100%;
  }

  .tabs__wrap {
    height: -webkit-fill-available;
    height: -moz-available;
    display: flex;
    flex-direction: column;
  }

  .tab__content {
    flex-direction: column;
    height: 100%;
    display: none;

    &.active {
      display: flex;

    }

    .scroll {
      flex-grow: 1;
    }
  }


}

.gallery-swiper-intr-mob {
  display: none;
}


.slider-mob {
  display: none;
}

@media screen and (max-width: 1200px) {
  .gallery-swiper-thumb {
    display: none;
  }

  .gallery-swiper-intr-mob {
    display: block;
  }

  .gallery-swiper-prev,
  .gallery-swiper-next {
    display: none;


  }

  .gallery-swiper-wrap {
    display: none;
  }

  .swiper-mob-main {
    margin-top: 10px;
  }

  .slider-mob {
    display: block;
    margin-top: 48px;

    a {
      display: block;
      height: 100%;
    }



    img {
      display: block;
    }

    .slider-mob {
      .swiper {
        height: 320px;
      }

      .swiper-mob-thumb .swiper-slide {
        height: 100%;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }



}