.index {
    .index__btns {
        color: #fff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 65px;
        z-index: 30;
        display: flex;
        gap: 32px;
    }

    .index__btns_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 22px;
        flex-shrink: 0;

        p {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 900;
        }
    }
}


@media screen and (max-width: 768px) {
    .index .index__btns {
        justify-content: space-evenly;
        padding: 0 32px;
        width: 100%;
    }
}

// @media screen and (max-width: 320px) {
//     .index .index__btns {
//         gap: 16px;
//     }
// }