.restoran {}


.tabs__header {
    display: flex;
    text-transform: uppercase;
    font-family: "Steppe", sans-serif;
    font-weight: 700;
    gap: 46px;
    font-size: 18px;
}

.tabs__btn {
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
        color: var(--green);

    }

    &.active {
        color: var(--green);
    }
}


.tabs__wrap {
    margin-top: 60px;
}

.tab-img img {
    transition: all .3s ease-in-out;
}

.tab__content {
    display: none;
    transition: all .3s ease-in-out;

    &.active {
        display: flex;
    }


}


.tab__content_banner-mob {
    display: none;
}


@media screen and (max-width: 1200px) {
    .tab__content_banner-mob {
        margin-top: 20px;
        display: block;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    .tab__content .scroll {
        overflow-y: visible;
    }
}