<aside class="aside">
    <div class="aside__close">
        <img src="./img/svg/aside_close.svg" alt="">
    </div>


    <a href="index.html">
        <img src="./img/svg/aside-logo.svg" alt="">
    </a>

    <nav class="nav">
        <ul>
            <li><a href="./restoran.html">Ресторан</a></li>
            <li class="menu-item-has-children">
                <a href="#">Меню</a>
                <ul>
                    <li><a href="#">Кухня</a></li>
                    <li><a href="#">бар</a></li>
                    <li><a href="#">вино</a></li>
                    <li><a href="#">Пиво</a></li>
                </ul>
            </li>
            <li><a href="./events.html">События</a></li>
            <li><a href="#">Банкеты</a></li>
            <li><a href="gallery.html">Галерея</a></li>
            <li><a href="booking.html">Бронирование</a></li>
            <li><a href="contacts.html">Контакты</a></li>
        </ul>
    </nav>


    <div class="socials">
        <p>Мы в социальных сетях:</p>
        <a href="#" target="_blank">
            <img src="./img/svg/ig.svg" alt="">
        </a>

        <a href="#" target="_blank">
            <img src="./img/svg/vk.svg" alt="">
        </a>
    </div>
</aside>
